$primary: #000000;
$sub-primary: #0a0e34;

$regular: #f5f6f7;
$regular-light: #efefef;
$regular-lighter: #e7e7e7;
$regular-dark: #c1c1c1;

$secondary: #ffffff;
$secondary-light: #d8d8d8;

$additional: #9071ea;
$sub-additional: #9172e6;

$decorative: #5e42b0;
$decorative-darken: #5c3caf;
$decorative-lighter: #a496ca;
$sub-decorative: #9173e6;
$decorative-additional: #f26163;
$decorative-gradient: linear-gradient(180deg, rgba(128,101,208,1) 50%, rgba(94,66,176,1) 100%);